<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能社——http://www.zhinengshe.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <style>
		.red{color:red;}
		.blue{background: blue;}

		.green{color:green;}
		.yellow{background: yellow}
    </style>
    <script src="js/vue.js"></script>
	<script>
		window.onload=function(){
			new Vue({
				el:"#box",
				data:{
					//red:"red blue",
					red:"red",
					blue:"blue",
					aaa:true,
					bbb:false,
					jsonclass:{green:false,yellow:true},
					msg:"welcome vue",
					arr:["aaa","bbb","ccc"],
					json:{"name":"zhangsan","age":"22"},
					a:true
				},
				methods:{
					show:function(){
						this.arr.push("ddd");
					}
				}
			});
		}
	</script>
</head>
<body>
   <div id="box">
   	    <!-- <strong :class="red">文字...</strong> -->
   	    <!-- <strong :class="[red,blue]">文字...</strong> -->
   	    <strong :class="{green:true,yellow:true}">文字...</strong><!--这里green是真实的class，不是data中数据-->
   	    <strong :class="{green:aaa,yellow:bbb}">文字2...</strong><!--配合数据使用-->
   	    <strong :class="jsonclass">文字3...</strong><!--可以直接使用data中的数据-->

		<input type="text" v-model="msg" />{{msg}}<br>

		<ul v-show="a">
			<li v-for="item in arr">
				{{item}} -- {{$index}}
			</li>
		</ul>
		<ul>
			<li v-for="item in json">
				{{item}} -- {{$key}}
			</li>
		</ul>
		<input type="button" value="按钮" v-on:click="a=false"  />
   </div>
</body>
</html>



















